<div class="landing"><h1>Welcome to our Landing Page</h1>
<p>This site is fun proof of concept for Dungeons & Dragons 5th Edition character creation.
    The function is to provide a basis for quickly making a character and gettting some of 
    the basic information to flesh that out.
</p>
<p>Simply choose a class and a race and you will be provided a basic overview of what modifiers would be on a class of your chosen race.
    It also provides a quick overview of the race and abilities that provides to your character.
</p>

<aside>
    <p>For further information on creating a character visit any of the following:</p>
    <ul class="list-group">
        <li class="list-group-item"><a href="http://dnd.wizards.com/">Official D&D site</a></li>
        <li class="list-group-item"><a href="https://orcpub2.com/">Online Character Sheet</a></li>
        <li class="list-group-item"><a href="https://5e.tools/">5e Tools for Players and Dungeon Masters</a></li>
    </ul>
</aside>

</div>