<form #characterForm="ngForm" novalidate (ngSubmit)="onSubmit()">
<h1>Choose a character class:</h1>
  <div class="form-group" *ngFor="let aClass of classNames">
    <input required type="radio" #name="ngModel" name="class" class="form-control" 
    value="{{aClass.name}}" [(ngModel)]="characterModel.class">{{aClass.name}}<br>
  </div>
  <br>

  <div *ngIf="!characterModel.class">Please choose a class!</div>

  <h1>Choose a race:</h1>
  <div *ngFor="let aRace of raceNames">
    <input required type="radio" #name="ngModel" name="race" class="form-control" 
    value="{{aRace.name}}" [(ngModel)]="characterModel.race">{{aRace.name}}<br>
  </div>
  <br>

  <div *ngIf="!characterModel.race">Please choose a race!</div>
  <br>
  <button type="submit" class="fightBtn">Fight!</button>
</form>

