<form>
<h1>Choose a character class:</h1>
  <div *ngFor="let aClass of classNames">
    <input required type="radio" name="class" value="{{aClass.name}}" 
    [(ngModel)]="class">{{aClass.name}}<br>
  </div>
  <br>

  <div *ngIf="!class">Please choose a class!</div>

  <h1>Choose a race:</h1>
  <div *ngFor="let aRace of raceNames">
    <input required type="radio" name="race" value="{{aRace.name}}" 
    [(ngModel)]="race">{{aRace.name}}<br>
  </div>
  <br>

  <div *ngIf="!race">Please choose a race!</div>
  <br>
  <button type="submit" class="fightBtn">Fight!</button>
</form>

